@model TournamentListAllDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<PlayedGamesListAllDto> teamOwnerGameList = null;
    if (ViewBag.Games != null)
    {
        teamOwnerGameList = ViewBag.Games;
    }
}
<link href="~/css/jquery.bracket.min.css" rel="stylesheet" />
<h2 class="mt-4">@Model.Name <span class="card-text badge badge-success p-2 badge-pill"><strong>@Model.GameType v @Model.GameType - @Model.Stadium.Name</strong></span></h2>
<hr />

<ul class="nav nav-tabs my-4 border-light">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home"><i class="fas fa-home mr-2"></i>Home</a>
    </li>


    <li class="nav-item">
        <a class="@(Model.IsStarted ? "nav-link" : "nav-link disabled")" data-toggle="tab" href="#bracket"><i class="fas fa-trophy mr-2"></i>Bracket</a>
    </li>

    <li class="nav-item">
        <a class="@(Model.IsStarted ? "nav-link" : "nav-link disabled")" data-toggle="tab" href="#matches"><i class="fas fa-futbol mr-2"></i>My Matches</a>
    </li>

</ul>

<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade show active" id="home">
        <div class="row">

            <div class="col-md-6">
                <div class="card border-dark mb-3">
                    <div class="card-header"><i class="fas fa-quote-left mr-2"></i>Description</div>
                    <div class="card-body">
                        <p class="card-text">@Model.Description</p>
                    </div>
                </div>

                @if (User.IsInRole("admin"))
                {
                    <div class="card  border-dark mb-3">
                        <div class="card-header bg-warning text-white"><i class="fas fa-user-shield mr-2"></i>Admin Actions</div>
                        <div class="card-body">
                            @if (!Model.IsStarted)
                            {
                                <a asp-action="Start" asp-controller="Tournament" asp-area="Admin" asp-route-id="@Model.Id" class="btn btn-success btn-block"><i class="fas fa-play-circle mr-2"></i>Start Tournament</a>
                            }
                            else if (!Model.IsFinished)
                            {
                                <a asp-action="Start" asp-controller="Tournament" asp-area="Admin" asp-route-id="@Model.Id" class="btn btn-danger btn-block"><i class="fas fa-stop-circle mr-2"></i>Finish Tournament</a>
                                <a asp-action="Index" asp-controller="PlayedGames" asp-area="Admin" asp-route-tournamentId="@Model.Id" class="btn btn-info btn-block"><i class="fas fa-tasks mr-2"></i>Manage Games</a>
                            }
                        </div>
                    </div>
                }
            </div>



            <div class="col-md-6">
                <div class="card border-dark mb-3" style="max-height:400px;overflow:auto">
                    <div class="card-header"><i class="fas fa-list mr-2"></i>Registered Teams</div>
                    <div class="card-body">
                        @if (Model.IsStarted)
                        {
                            <div class="alert-info mb-2 text-light p-2"><i class="fas fa-info-circle mr-2"></i><strong>Tournament is started!</strong></div>
                        }
                        @foreach (var item in Model.TournamentTeams)
                        {
                            if (item.IsConfirmed)
                            {
                                <div><i class="fas fa-check-square" style="color:green"></i><strong>  @item.Team.Name - (@item.Team.Tag) </strong>(CONFIRMED) </div>
                            }
                            else
                            {
                                <div><i class="fas fa-check-square" style="color:gold"></i><strong> @item.Team.Name - (@item.Team.Tag) </strong>(Waiting for confirm...) </div>
                            }
                        }
                        @if (!Model.IsStarted)
                        {
                            <div class="alert-info mt-2 text-light p-1"><i class="fas fa-info-circle mr-2"></i>Confirmations will start at <strong>@Model.StartDate.AddMinutes(-30).ToString("dd/MM/yyyy HH:mm CET")</strong></div>
                        }
                    </div>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    if (!Model.IsStarted)
                    {
                        if (Model.StartDate.AddMinutes(-30) <= DateTime.Now)
                        {
                            <a asp-action="Confirm" asp-controller="Tournament" asp-area="Member" asp-route-id="@Model.Id" class="btn btn-info btn-block"><i class="fas fa-check-circle mr-2"></i>Confirm Registration & Fast Register</a>
                        }
                        else
                        {
                            <a asp-action="Register" asp-controller="Tournament" asp-area="Member" asp-route-id="@Model.Id" class="btn btn-success btn-block"><i class="fas fa-check-circle mr-2"></i>Register your team!</a>

                        }
                    }
                    else
                    {
                        <a href="#bracket" class="btn btn-info btn-block"><i class="fas fa-info-circle mr-2"></i>Tournament is started.</a>
                    }


                }
                else
                {
                    <a asp-action="Login" asp-controller="Home" asp-area="" class="btn btn-info btn-block">You need to login for register your team to this tournament!</a>
                }
                <a asp-action="Index" asp-controller="Home" asp-area="" class="btn btn-light btn-block mb-2"><i class="fas fa-arrow-left mr-2"></i>Back</a>

            </div>



        </div>



    </div>


    <div class="tab-pane fade" id="matches">
        @if (Model.IsStarted && teamOwnerGameList != null)
        {
            var currentRoundNumber = 0;
            <table class="table table-hover w-75 mx-auto shadow table-bordered">

                @foreach (var item in teamOwnerGameList)
                {
                    if (currentRoundNumber == 0)
                    {

                        <tr class="text-center">
                            <th>Home Team</th>
                            <th>Score</th>
                            <th>Away Team</th>
                            <th>-/+</th>
                        </tr>
                    }

                    if (item.RoundNumber != currentRoundNumber)
                    {
                        currentRoundNumber = item.RoundNumber;
                        <tr class="text-center">
                            <td colspan="4" class="bg-secondary text-white"><strong><i class="fas fa-futbol mr-2"></i>ROUND @currentRoundNumber<i class="fas fa-arrow-alt-circle-down ml-2"></i></strong></td>

                        </tr>
                    }
                    <tr class="text-center">
                        <td>@(item.HomeTeam?.Tag ?? "Waiting..")</td>
                        <td><span style="font-size:large">@(item.HomeTeamScore == null ? "" : item.HomeTeamScore.ToString())<strong> - </strong>@(item.AwayTeamScore == null ? "" : item.AwayTeamScore.ToString()) </span></td>
                        <td>@(item.AwayTeam?.Tag ?? "Waiting..")</td>
                        <td><a class="btn btn-info"><i class="fas fa-save mr-2"></i>Add Score </a></td>
                    </tr>
                }

            </table>
        }
    </div>

    <div class="tab-pane fade my-4 pl-5 w-75 mx-auto border border-light" id="bracket">
        <div class="bracket">
        </div>
    </div>

</div>


@section JavaScript{
    <script src="~/js/jquery.bracket.min.js"></script>
    <script>
        var bracketData;
        var isBracketActivated;
       $(document).ready(function () {
   @*        $.ajax({
               method: "POST",
               url: "/getBracket",
               contentType: "application/x-www-form-urlencoded; charset=UTF-8",
               dataType: "json",
               data: {tournamentId:@Model.Id},
               success: function (data) {
                   bracketData = data;
               },
               error: function (e) {
                   console.log(e);
               }
           })*@

       });

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            var target = $(e.target).attr("href") // activated tab
            if (target == "#bracket" && !isBracketActivated) {

                $.ajax({
                       method: "POST",
                       url: "/getBracket",
                       contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                       dataType: "json",
                       data: {tournamentId:@Model.Id},
                       success: function (data) {
                           bracketData = data;
                           $('.bracket').bracket({

                               init: bracketData /* data to initialize the bracket with */
                           })
                           isBracketActivated = true;
                       },
                       error: function (e) {
                           console.log(e);
                       }
                })

            }
        });

    </script>

}


